<% layout('layouts/boilerplate')%>

<a class="nav-link" href="/courses/<%=courseId%>/tests/">< Back to tests</a>

<h1 class="mt-3 mb-4"> Test Information</h1>

<dl class="row">
    <dt class="col-md-3 col-sm-5 col-xs-8">Name:</dt>
    <dd class="col-md-9  col-sm-7 col-xs-4"><%= test.name %></dd>
</dl>
<dl class="row">
    <dt class="col-md-3 col-sm-5 col-xs-8">Answer Key:</dt>
    <dd class="col-md-9  col-sm-7 col-xs-5"><%= test.answersString %></dd>
</dl>
<dl class="row">
    <dt class="col-md-3 col-sm-5 col-xs-8">Number of Submissions:</dt>
    <dd class="col-md-9 col-sm-7 col-xs-5"><%= test.submissions.length %></dd>
</dl>

<a class="btn btn-primary my-1 text-right" href="/courses/<%=courseId%>/tests/<%=test._id%>/submissions/new">Create New Submission</a>
<div class="btn-group ms-2">
    <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Manage Test
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/courses/<%=courseId%>/tests/<%= test._id%>/edit">Edit</a></li>
        <button id="export" class="dropdown-item">Export to CSV</button>
        <form action="/courses/<%=courseId%>/tests/<%=test._id%>?_method=DELETE" method="POST" novalidate>
            <button class="dropdown-item">Delete</button>
        </form>
    </ul>
</div>

<% for (let submission of test.submissions){ %>
    <div style="background-color: #e0e8ff52;" class="container-fluid border border-primary rounded shadow my-3">
        <div class="row mx-2 my-3">
            <div class="col-lg-10 col-md-9 col-sm-8 col-6 my-auto">
                <h5 class="">Student: <%= submission.student.firstname %></h5>
                <p class="">Score: <%= submission.score %></p>
            </div>
            <div class="my-auto col">
                <a class="btn btn-secondary my-1 mx-auto d-block text-right" href="/courses/<%=courseId%>/tests/<%=test._id%>/submissions/<%= submission._id%>">Details</a>
            </div>
        </div>
    </div>
<% } %>

<script>
    const downloadCSV = () => {
        const testname = "<%=test.name%>";
        let csv = "<%=test.csv%>";
        csv = csv.replace("CSVNEWLINE", "\n");
        const blob = new Blob([csv], { type: 'text/csv' });
        const url = window.URL.createObjectURL(blob)
        const a = document.createElement('a')
        a.setAttribute('href', url)
        a.setAttribute('download', `Test_${testname}_Results.csv`);
        a.click()
    }

    const exportButton = document.getElementById('export');
    exportButton.addEventListener('click', downloadCSV);
</script>