<% layout('layouts/boilerplate')%>
<div class="row mt-5">
    <h1 class="text-center">Edit Course</h1>
    <div class="col-lg-6 offset-lg-3">
        <form action="/courses/<%=course._id%>?_method=PUT" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label class="form-label" for="courseCode">Course Code</label>
                <input class="form-control" type="text" id="courseCode" name="course[code]" value="<%=course.code%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="courseName">Course Name</label>
                <input class="form-control" type="text" id="courseName" name="course[name]" value="<%=course.name%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="courseImg">Image Url</label>
                <input class="form-control" type="text" id="courseImg" name="course[image]" value="<%=course.image%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mt-4 mb-3">
                <button class="btn btn-success">Update Course</button>
                <a href="/courses/<%=course._id%>" class="btn btn-outline-danger ms-3 ">Back To Course</a>
            </div>
        </form>
        
    </div>
</div>