<% layout('layouts/boilerplate')%>

<ul class="nav justify-content-center border-bottom">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/courses/<%=course._id%>">Overview</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/courses/<%=course._id%>/tests">Tests</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/courses/<%=course._id%>/students">Students</a>
    </li>
  </ul>

  <h1 class="text-center my-3"> <%= course.name %> </h1>
  <h2 class="text-muted text-center my-3"> <%= course.code %> </h2>

<div class="row mt-5 mx-auto" style="max-width: 900px;">
    <div class="col-sm-6">
        <div class="card shadow-sm border-success text-center h-100">
        <div class="card-body">
            <h5 class="card-title">Tests</h5>
            <p class="card-text"> Create new tests, and upload new submissions to be graded.</p>
            <a href="/courses/<%=course._id%>/tests" class="btn btn-sm btn-success">Go to tests</a>
        </div>
        </div>
    </div>
    <div class="col-sm-6 mt-3 mt-sm-0">
        <div class="card shadow-sm border-success text-center h-100">
        <div class="card-body">
            <h5 class="card-title">Students</h5>
            <p class="card-text"> Add new students and check induvidual student records.</p>
            <a href="/courses/<%=course._id%>/students" class="btn btn-sm btn-success">Go to students</a>
        </div>
        </div>
    </div>
</div>
<div class="row my-5">
    <div class="col-sm-6 d-flex justify-content-center justify-content-sm-end">
        <a href="/courses" class="btn btn-primary">All Courses</a>
    </div>
    <div class="col-sm-6 mt-3 mt-sm-0 d-flex justify-content-center justify-content-sm-start">
        <div class="btn-group">
            <button type="button" class="btn btn-outline-dark dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              Manage Course
            </button>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="/courses/<%=course._id%>/edit">Edit</a></li>
                <form action="/courses/<%=course._id%>?_method=DELETE" method="POST" novalidate>
                    <button class="dropdown-item">Delete</button>
                </form>
            </ul>
        </div>
    </div>
</div>
