<% layout('layouts/boilerplate')%>
<div class="row mt-5">
    <h1 class="text-center">Edit Student</h1>
    <div class="col-lg-6 offset-lg-3">
        <form action="/courses/<%=id%>/students/<%=student._id%>?_method=PUT" method="POST" novalidate class="needs-validation">
            <div class="mb-3">
                <label class="form-label" for="studentFirstname">Firstname</label>
                <input class="form-control" type="text" id="studentFirstname" name="student[firstname]" value="<%=student.firstname%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="studentLastname">Lastname</label>
                <input class="form-control" type="text" id="studentLastname" name="student[lastname]" value="<%=student.lastname%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mb-3">
                <label class="form-label" for="studentNumber">Number</label>
                <input class="form-control" type="text" id="studentNumber" name="student[number]" value="<%=student.number%>" required>
                <div class="valid-feedback">
                    Looks good!
                </div>
            </div>
            <div class="mt-4 mb-3">
                <button class="btn btn-success">Update Student</button>
                <a href="/students/<%=student._id%>" class="btn btn-outline-danger ms-3 ">Back To Student</a>
            </div>
        </form>

    </div>
</div>