<% layout('layouts/boilerplate')%>

<ul class="nav justify-content-center border-bottom">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/courses/<%=courseId%>">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/courses/<%=courseId%>/tests">Tests</a>
  </li>
  <li class="nav-item">
      <a class="nav-link active" href="/courses/<%=courseId%>/students">Students</a>
  </li>
</ul>

<a class="btn btn-primary my-4" href="/courses/<%=courseId%>/students/new"> Add new Student </a>

<% if (students.length > 0){ %>

<% for (let student of students){ %>
    <div style="background-color: #e0e8ff52;" class="container-fluid border border-primary rounded shadow my-3">
      <div class="row mx-2 my-3">
          <div class="col-lg-10 col-md-9 col-sm-8 col-6 my-auto">
              <a style="display:block" href="/courses/<%=courseId%>/students/<%= student._id%>">
            <h5 class=""><%= student.firstname %> <%= student.lastname %></h5>
              </a>
            <p class="">Student #: <%= student.number %></p>
          </div>
          <div class="my-auto col">
            <a class="btn btn-warning my-1 mx-auto d-block text-right" href="/courses/<%=courseId%>/students/<%= student._id%>/edit">Edit</a>
            <a class="btn btn-danger mx-auto d-block text-right" href="/courses/<%=courseId%>/students/<%= student._id %>">Delete</a>
          </div>
      </div>
    </div>
<% } %>

<% } %>