<% layout('layouts/boilerplate')%>

<ul class="nav justify-content-center border-bottom">
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="/courses/<%=courseId%>">Overview</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/courses/<%=courseId%>/tests">Tests</a>
  </li>
  <li class="nav-item">
      <a class="nav-link active" href="/courses/<%=courseId%>/students">Students</a>
  </li>
</ul>

<h1 class="my-4">All Students</h1>

<a class="btn btn-primary mb-4" href="/courses/<%=courseId%>/students/new"> Add new Student </a>

<% if (students.length > 0){ %>

<% for (let student of students){ %>
    <div style="background-color: #e0e8ff52;" class="card container-fluid border border-primary rounded shadow my-3">
      <div class="row mx-2 my-3">
          <a style="text-decoration: none; color: inherit;" href="/courses/<%=courseId%>/students/<%= student._id%>"><h4 class="d-block stretched-link mb-2"><%= student.firstname %> <%= student.lastname %></h4></a>
          <p class="">Student #: <%= student.number %></p>
      </div>
    </div>
<% } %>

<% } %>