<% layout('layouts/boilerplate')%>

<h1 class="my-5"> Student Information</h1>

<dl class="row">
    <dt class="col-md-3 col-sm-5 col-xs-8">First Name:</dt>
    <dd class="col-md-9  col-sm-7 col-xs-4"><%= student.firstname %></dd>
</dl>
<dl class="row">
    <dt class="col-md-3 col-sm-5 col-xs-8">Last Name:</dt>
    <dd class="col-md-9  col-sm-7 col-xs-5"><%= student.lastname %></dd>
</dl>
<dl class="row">
    <dt class="col-md-3 col-sm-5 col-xs-8">Student Number:</dt>
    <dd class="col-md-9 col-sm-7 col-xs-5"><%= student.number %></dd>
</dl>

<div class="btn-group">
    <button type="button" class="btn btn-warning dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
        Manage Student
    </button>
    <ul class="dropdown-menu">
        <li><a class="dropdown-item" href="/courses/<%=courseId%>/students/<%= student._id%>/edit">Edit</a></li>
        <form action="/courses/<%=courseId%>/students/<%=student._id%>?_method=DELETE" method="POST" novalidate>
            <button class="dropdown-item">Delete</button>
        </form>
    </ul>
</div>

<% for (let submission of student.submissions){ %>
    <div style="background-color: #e0e8ff52;" class="container-fluid border border-primary rounded shadow my-3">
        <div class="row mx-2 my-3">
            <div class="col-lg-10 col-md-9 col-sm-8 col-6 my-auto">
                <h5 class="">Test Name: <%= submission.test.name %></h5>
                <p class="">Score: <%= submission.score %></p>
            </div>
            <div class="my-auto col">
                <a class="btn btn-secondary my-1 mx-auto d-block text-right" href="/courses/<%=courseId%>/tests/<%=submission.test._id%>/submissions/<%= submission._id%>">Details</a>
            </div>
        </div>
    </div>

<% } %>